*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    padding: 0px;
    margin: 0px 0px;
}
div {
    padding: 0px;
    margin: 0px;
}
body {
    width: 100%;
}

.general-info {
    margin: 10px 50px;
    padding: 20px 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div#general-info {
    margin: 0px 100px;
}
.image i {
    font-size: 100px;
}

.edit-user {
    margin: 0px 150px;
}
.edit-title {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid red;
    position: relative;
}
p#edit-title {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    width: fit-content;
    position: absolute;
    bottom: 10px;
}

.edit-form {
    margin-top: 30px;
}
.edit-form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-form input {
    width: 500px;
    height: 30px;
    text-indent: 5px;
}
.edit-left {
    margin: 10px 50px;
}
.edit-right {
    margin: 10px 50px;
}
.edit-form p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}
.radio {
    display: flex;
    width: 500px;
    height: 30px;
    align-items: center;
    padding: 5px 0px;
}
.radio label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.edit-button {
    margin: 40px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.edit-button button {
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    border: 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
.edit-button button:hover {
    background-color: white;
    color: blue;
    border: 1px solid red;
}
.edit-button i {
    margin: 0px 5px;
}
textarea {
    resize: none;
    height: 100px;
    width: 500px;
    text-indent: 5px;
}