*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    padding: 0px;
    margin: 0px 0px;
}
div, table {
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0px;
    width: 100%;
}

.content {
    margin: 20px 150px;
}

.content table {
    margin: 10px 0px;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

/* Định dạng cho các dòng chan */
.content tr:nth-child(even) {
    background-color: lightgray;
}
/* Định dạng cho các dòng lẻ */
.content tr:nth-child(odd) {
    background-color: lightblue;
}

.product-list a {
    text-decoration: none;
    color: black;
    margin: 3px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    background-color: royalblue;
    border: 0px;
    font-weight: bold;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-list a:hover {
    border: solid 2px blue;
    background-color: white;
}

.title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.content form {
    margin-bottom: 20px; 
}

.add-product {
    height: 30px;
    background-color: red;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}