/* Thiết lập font và màu chung */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Cài đặt độ rộng và căn giữa nội dung */
.order {
    display: flex;
    justify-content: center;
    margin: 30px 150px;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Định dạng header */
.logo-header {
    margin-right: 20px;
}
.logo-header a img {
    max-width: 150px;
}

/* Thiết lập thông tin nhận hàng */
.order-left {
    flex: 1;
    padding: 10px;
}

.main-order-left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.nhap input, .nhap textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
}

.nhap textarea{
  resize: none;
}

/* Định dạng đơn hàng */
.order-right {
    flex: 1;
    padding: 10px;
}

.order-right h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.san-pham {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    cursor: pointer;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.san-pham td {
    position: relative;
    padding: 10px;
    
}

.anh-sp {
    max-width: 80px;
}

.so-san-pham {
    position: absolute;
    background-color: #00d2d3;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity:0.5;
}

.ap-dung {
    padding: 10px 20px;
    background-color: #0abde3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tam-tinh td {
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid #ccc;
}

.ship {
    display: grid;
    margin-bottom: 10px;
}

.ship label {
    margin-bottom: 5px;
    color: blue;
}

.ship select {
    height: 30px;
    width: 200px;
}

.tong {
    font-size: 24px;
    color: #ff9f43;
}

.previous-link {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    margin-right: 10px;
}

.previous-link__arrow {
    margin-right: 5px;
}

.dat-hang-button {
    padding: 15px 30px;
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #ed1c24;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Định dạng đẹp hơn cho nút, input, textarea và các yếu tố khác có thể được thêm vào */
.dat-hang-button:hover {
    background-color: white;
    color: blue;
    border: 1px solid #ed1c24;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.3s;
}

.san-pham td:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}
.anh-sp {
    opacity: 0.1;
    transition: opacity 0.5s;
}

.san-pham td:hover .anh-sp {
    opacity: 1;
}
.previous-link:hover {
    color: blue;
    transition: color 0.3s;
}
.ap-dung:hover {
    background-color: #2e86de;
    transition: background-color 0.3s;
}
input[type="text"]:hover {
    border-color: #555555;
}
input[type="text"]:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    outline: none;
}