*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    padding: 0px;
    margin: 0px 0px;
}
div {
    padding: 0px;
    margin: 0px;
}
body {
    width: 100%;
}

.general-info {
    margin: 10px 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image {
    height: 150px;
    width: 150px;
    margin: 0px 30px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div#general-info {
    margin: 0px 50px;
}
.image i {
    font-size: 100px;
}
.button-edit {
    margin: 0px 30px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.button-edit a {
    margin: 20px 0px;
    height: 30px;
    width: 130px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.button-edit a:hover {
    color: blue;
    background-color: white;
    border: 1px solid red;
}
.nickname {
    display: flex;
}
p#main {
    margin: 0px 10px;
    font-size: 30px;
    height: fit-content;
}
p#date {
    font-weight: normal;
    font-size: 13px;
    margin: 15px;
}
.bio {
    margin: 0px 10px;
    font-size: 15px;
    color: grey;
    background: none;
    border: 0px;
    pointer-events: none;
    height: 50px;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-user {
    margin: 0px 150px;
}
.edit-title {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid red;
    position: relative;
}
p#edit-title {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    width: fit-content;
    position: absolute;
    bottom: 10px;
}

.edit-form {
    margin: 30px 30px 0px 30px;
}
.edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-form input {
    width: 100%;
    height: 30px;
    text-indent: 5px;
}
.edit-left {
    margin: 10px 50px;
    display: grid;
    width: 100%;
}
.edit-right {
    margin: 10px 50px;
    display: grid;
    width: 100%;
}
.edit-form p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}
.radio {
    display: flex;
    width: 500px;
    height: 30px;
    align-items: center;
    padding: 5px 0px;
}
.radio label {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    cursor: pointer;
    accent-color: blue;
}

.edit-button {
    margin: 40px 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.edit-button input {
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    border: 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
.edit-button input:hover {
    background-color: white;
    color: blue;
    border: 1px solid red;
}
.edit-button i {
    margin: 0px 5px;
}
textarea {
    resize: none;
    width: 500px;
    text-indent: 5px;
}

.error {
    font-size: 13px;
    font-weight: normal;
    color: red;
    font-family: sans-serif;
    margin: 10px 50px;
}
.error p {
    font-weight: normal;
    margin: 5px 0px;
}